*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#wrapper{
    height:100vh;
    overflow-x:hidden; /* image overflow nhi kregi x direction m */
    overflow-y:auto;
    perspective:10px ; /*distance bw z=0 plane and the eye distance */
}
.container{
    background-color: #ffcd9e;
    width: 100%;
    height:592px;
}
h2{

margin-left: 150px;
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
width: 562px;

}
.team{

    margin-left: 150px;
width: 495px;
height: 81px;
top: 219px;
left: 136px;
color: #484848;
font-family:Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
padding: 0px 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-bottom: 20px;


}
.img{
position:absolute;
width:600px;
height: 575px;
top: 35px;
left: 818px;
padding: 66.39522552490234px 89.60975646972656px 66.15494537353516px 91.86988830566406px;


}
b{
    width: 227px;
    height: 81px;
    top: 315px;
    left: 136px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}
.email{
width: 350px;
height: 64px;
top: 411px;
left: 158px;
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color:#888888;   
border:4px solid black; 
margin-left: 165px;
margin-bottom: 20px;
border-radius: 10px;



}
.button{
width: 216px;
height: 64px;
top: 411px;
left: 496px;
border-radius:20px;
background: #282828;
color: #FFFFFF;
font-size:20px;



}
.free{
font-size: 16px;
line-height: 26px;
text-align: center;
color:#ffffff;
width: 344px;
height: 61px;
top: 479px;
left: 134px;
margin-left: 105px;

}
.bottom{
    background-color:#282828;
    width: 100%;
    height: 298px;
    top: 592px;
    display:flex;
    justify-content: space-between;

}
.rightpart{
color:#ffffff;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
float:left;
padding-top: 50px;
text-align: left;
   
}
.leftpart{
 padding-left: 200px;
 padding-top: 50px;
display:flex;
flex-direction:column;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align:right;
color:#ffffff;

}
#lp1{
 width: 216px;
height: 36px;
top: 654px;
left: 191px;
}
#lp2{
    width: 216px;
    height: 36px;
    top: 690px;
    left: 191px;
    
}
#lp3{
    width: 216px;
    height: 36px;
    top: 726px;
    left: 191px;
    
}
#lp4{
    width: 220px;
    height: 36px;
    top: 762px;
    left: 191px;
    
}
#lp5{
    width: 236px;
    height: 36px;
    top: 798px;
    left: 191px;  
}
#lp6{
width: 148px;
height: 36px;
top: 654px;
left: 1099px;

}
#lp7{
width: 232px;
height: 36px;
top: 690px;
left: 1015px;

}
#lp8{
    width: 29.405405044555664px;
height: 27.42014503479004px;
top: 728.579833984375px;
left: 1179px;
border: 3px solid #FFCD9E;

}
#lp9{
    width: 29.405405044555664px;
height: 27.42014503479004px;
top: 728.579833984375px;
left: 1217.5946044921875px;
border: 3px solid #FFCD9E;

}
#lp10{
    width: 232px;
height: 36px;
top: 798px;
left: 1015px;

}
#inspire{
    padding:20px;
}
.show{
    padding:20px;
    margin-left: 150px;
}